#wordle-board {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
  justify-content: center;
}

.wordle-row {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.wordle-cell {
  width: 50px;
  height: 50px;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.wordle-cell.correct {
  background-color: #6aaa64; /* Verde: letra correcta en la posición correcta */
  color: white;
}

.wordle-cell.present {
  background-color: #c9b458; /* Amarillo: letra correcta en la posición incorrecta */
  color: white;
}

.wordle-cell.absent {
  background-color: #787c7e; /* Gris: letra no presente en la palabra */
  color: white;
}

#wordle-message {
  font-size: 18px;
  font-weight: bold;
}

#wordle-racha {
  font-size: 18px;
  font-weight: bold;
  color: #6aaa64;
}

#wordle-reset {
  display: block;
  margin: 20px auto;
  text-align: center;
}

/* Estilos para las definiciones */
.alert {
  margin-bottom: 0;

  max-width: 600px;
  margin: 1rem auto;
  padding: 1rem;
}

.card {
  border: 2px solid #6aaa64;
  background-color: #f8f9fa;
  max-width: 600px;
  margin: 1rem auto;
  padding: 1rem;
}

.card-title {
  color: #6aaa64;
  font-weight: bold;
}

.card-text {
  color: #333;
}
